body {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-items: center;
    align-items: center;
}
.score {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.cards {
    display: flex;
    flex-direction: row;
}

.dashboard {
    display: flex;
    flex-direction: row;
    gap: 10px;
}